# Ignore virtual environment
.venv/
venv/
env/
ENV/

# Ignore .env files
.env
.env.*

# Python bytecode files
*.pyc
*.pyo
_pycache_/

# Ignore VS Code workspace settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific directories
.idea/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/